label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
}

input:not([type]),
input[type=text],
input[type=email],
input[type=password],
select,
textarea {
  display: block;
  box-sizing: border-box;
  padding: .5rem 1rem;
  width: 100%;
}
